<div class="container site-inner new">	
	<h1>New Work</h1>

	<%= render 'form' %>

	<div class="push"></div>
</div>

<script>
	var input1 = document.getElementById('search-new');

	var autocomplete1 = new google.maps.places.Autocomplete(input1);
</script>
