<footer>
	<div class="container">
		<nav>
			<ul>
				<li><a id="footer-canon">the canon</a></li>
				<li><a>about</a></li>
				<li><a>blog</a></li>
				<li><a>contact</a></li>
			</ul>
		</nav>
		<p>&copy; Copyright 2015 <a href="www.amhasler.com">Adam Hasler</a></p>
	</div>
</footer>